@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-700: hsl(281, 83%, 54%);
    --purple-950: hsl(292, 42%, 14%);
  }
  @font-face {
    font-family: "Work Sans";
    src: url(/build/fonts/WorkSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Work Sans";
    src: url(/build/fonts/WorkSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Work Sans";
    src: url(/build/fonts/WorkSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  body {
    @apply flex items-center justify-center min-h-screen font-worksans bg-[url(/build/images/background-pattern-mobile.svg)]
        lg-mobile-desktop:bg-[url(/build/images/background-pattern-desktop.svg)] w-full bg-no-repeat bg-top bg-purple-100 bg-contain;
  }
  .container {
    @apply bg-white px-6 py-6 flex flex-col shadow-xl ~mobile/desktop:~rounded-md/2xl ~mobile/desktop:~max-w-xs/xl;
  }
  .header {
    @apply flex items-center gap-7;
  }
  .header > img {
    @apply ~mobile/desktop:~w-6/10;
  }
  .article {
    @apply flex flex-col border-b border-b-purple-100 last-of-type:border-none last-of-type:pb-0 ~mobile/desktop:~py-4/6 ~mobile/desktop:~gap-4/6;
  }
  .question-btn {
    @apply flex items-center justify-between gap-2 outline-none;
  }
  .question-btn:hover .question {
    @apply text-purple-700;
  }
  .question-btn:focus .question {
    @apply text-purple-700;
  }

  /* Text Styles */
  .header > h1 {
    @apply font-bold text-purple-950 ~mobile/desktop:~text-3xl/6xl;
  }
  .question {
    @apply text-purple-950 font-semibold text-start ~mobile/desktop:~text-base/lg;
  }
  .answer {
    @apply text-purple-600 ~mobile/desktop:~text-sm/base;
  }
}
